$border-grey: rgb(238, 238, 238);

.home {
  padding: 10px 0;

  .search-container {
    display: flex;
    margin-bottom: 20px;
    padding: 0 12px;

    > input {
      flex: 1;
      margin-right: 10px;
      border-radius: 4px;
      padding: 0 8px;
    }

    .search-button {
      font-size: 14px;
      color: #fff;
      cursor: pointer;
      background: #000;
      border-radius: 4px;
      box-sizing: border-box;
      height: 32px;
      padding: 8px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .list {
    font-size: 13.6px;
  }

  .list-item {
    &:first-child {
      border-top: 1px solid $border-grey;
    }
  }

  .list-item-row-1 {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid $border-grey;
  }

  .list-item-container {
    text-align: left;
    flex: 1;
    display: grid;
    grid-template-columns: 33.333% 1fr min-content;
    gap: 0 5px;
    width: 100%;
  }

  @mixin avatar-common {
    margin: 0 16px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar-tx {
    @include avatar-common();
    font-size: 12px;
    font-weight: 600;
  }

  .avatar-block-reward {
    @include avatar-common();

    &-icon {
      width: 20px;
      height: 20px;
      background-color: rgb(0, 0, 0);
      -webkit-mask-image: url(../../assets/images/avatar-block-reward.svg);
      -webkit-mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      display: inline-flex;
      margin: 0;
    }
  }

  @mixin icon-arrow-common($bg-url) {
    margin: 0 8px;
    flex-shrink: 0;
    width: 30px;
    height: 40px;
    cursor: pointer;
    background: #fff url($bg-url) center center no-repeat;
    background-size: 14px;
  }

  .icon-arrow-up {
    @include icon-arrow-common('../../assets/images/icon-arrow-up.png')
  }

  .icon-arrow-down {
    @include icon-arrow-common('../../assets/images/icon-arrow-down.png')
  }

  .value-container {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .fee-label {
      color: rgb(244, 91, 105);
    }
  }

  .list-item-row-2 {
    display: flex;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in 0s;

    &--open {
      border-bottom: 1px solid $border-grey;
    }
  }

  .in-and-out-container {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    flex-shrink: 0;
    overflow: hidden;

    &:first-child {
      border-right: 1px solid $border-grey;
    }
  }

  .record {
    &-container {
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;
   }

    &-num {
      margin-right: 14px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

  }

  @media (max-width: 600px) {
    .list-item-container {
      grid-template-columns: 1fr;
      gap: 6px;
    }

    .value-container {
      align-items: flex-start;
    }

    .list-item-row-2 {
      flex-direction: column;
    }

    .in-and-out-container {
      flex: auto;

      &:first-child {
        border-right: 0;
        border-bottom: 1px solid $border-grey;
      }
    }
  }
}

