.copy {
  display: inline-flex;
  align-items: center;
  color: #ED9B60;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  > span {
    margin-right: 2px;
  }

  > img {
    width: 12px;
    height: 12px;
    color: rgb(153, 153, 153);
  }
}