@mixin ellipse($count: 1) {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: normal;
  -webkit-line-clamp: $count;
}

.copy {
  display: inline-flex;
  align-items: center;
  color: #ED9B60;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  > span {
    @include ellipse(1);
    margin-right: 2px;
  }

  > img {
    width: 12px;
    height: 12px;
    color: rgb(153, 153, 153);
  }
}